In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.io.parsers.read_csv('C://Users//srira//Downloads//Projects//Math//ml-1m//ml-1m//ratings.dat', 
    names=['user_id', 'movie_id', 'rating', 'time'],
    engine='python', delimiter='::')

In [3]:
movie_data = pd.io.parsers.read_csv('C://Users//srira//Downloads//Projects//Math//ml-1m//ml-1m//movies.dat',
    encoding = "ISO-8859-1",
    names=['movie_id', 'title', 'genre'],
    engine='python', delimiter='::')

In [5]:
ratings_mat = np.ndarray(
    shape=(np.max(data.movie_id.values), np.max(data.user_id.values)),
    dtype=np.uint8)
ratings_mat[data.movie_id.values-1, data.user_id.values-1] = data.rating.values
ratings_mat[data.movie_id.values-1, data.user_id.values-1]

array([5, 3, 3, ..., 5, 4, 4], dtype=uint8)

In [6]:

normalised_mat = ratings_mat - np.asarray([(np.mean(ratings_mat, 1))]).T

In [7]:

A = normalised_mat.T / np.sqrt(ratings_mat.shape[0] - 1)
U, S, V = np.linalg.svd(A)

In [8]:
def top_cosine_similarity(data, movie_id, top_n=10):
    index = movie_id - 1 # Movie id starts from 1 in the dataset
    movie_row = data[index, :]
    magnitude = np.sqrt(np.einsum('ij, ij -> i', data, data))
    similarity = np.dot(movie_row, data.T) / (magnitude[index] * magnitude)
    sort_indexes = np.argsort(-similarity)
    return sort_indexes[:top_n]

In [9]:
def print_similar_movies(movie_data, movie_id, top_indexes):
    print('Recommendations for {0}: \n'.format(
    movie_data[movie_data.movie_id == movie_id].title.values[0]))
    for id in top_indexes + 1:
        print(movie_data[movie_data.movie_id == id].title.values[0])

In [12]:
k = 50
movie_id = 1 # (getting an id from movies.dat)
top_n = 10
sliced = V.T[:, :k] # representative data
indexes = top_cosine_similarity(sliced, movie_id, top_n)

C:\Users\srira\AppData\Local\Temp/ipykernel_39072/3890564185.py:5: RuntimeWarning: invalid value encountered in true_divide
  similarity = np.dot(movie_row, data.T) / (magnitude[index] * magnitude)

In [13]:
print_similar_movies(movie_data, movie_id, indexes)

Recommendations for Toy Story (1995):

Toy Story (1995)
Toy Story 2 (1999)
Babe (1995)
Bug's Life, A (1998)
Pleasantville (1998)
Babe: Pig in the City (1998)
Aladdin (1992)
Stuart Little (1999)
Secret Garden, The (1993)
Tarzan (1999)